@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css");

* {
  box-sizing: border-box;
}

h1 {
  font-size: 5em;
  color: #edb5f7;
}

h2 {
  text-align: left;
  padding-left: 1em;
  color: #edb5f7;
  /* color: #bdb4ff; */
  font-size: 2em;
}

h3 {
  color: #fffeec;
}

h5 {
  color: #fffeec;
  margin: 1em;
  text-align: right;
  justify-content: left;
}

h4 {
  color: #fffeec;
  text-align: left;
}

.about h4 {
  font-size: 1.2em;
  line-height: 1;
  padding: 1em;
}

.about h3 {
  padding: 1em;
  font-size: 1.4em;
}

footer {
  text-align: center;
  justify-content: center;
  color: #fffeec;
}

big {
  font-size: 35px;
  background-color: #8693ab;
}

.typed {
  justify-content: center;
  text-align: center;
  padding-right: 2em;
  margin-top: -1em;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blurb {
  width: 100%;
  margin: 1em;
  background-color: rgba(240, 248, 255, 0.064);
  border-radius: 25px;
  padding: 2em;
}

.blurb:hover,
.skills:hover {
  background-color: rgba(240, 248, 255, 0.129);
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills {
  background-color: rgba(240, 248, 255, 0.064);
  border-radius: 25px;
  padding: 2em;
  margin: 1em;
  width: 50vw;
  height: 50vh;
}

.video {
  width: 500px;
  height: 300px;
  margin: 1em;
}

.jobCard {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  margin: 1em;
}

.card {
  background-color: rgba(240, 248, 255, 0.129);
  border-radius: 25px;
  padding: 2em;
  width: 50vw;
  margin-bottom: 1em;
}

.card h5 {
  text-align: left;
  margin-left: 0em;
}

.card:hover {
  background-color: rgba(240, 248, 255, 0.064);
}

[class^="devicon-"],
[class*=" devicon-"] {
  font-family: "devicon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  margin: 0.4em;
  color: #eafc88;
}

.icons {
  margin: 2em;
  display: flex;
  flex-wrap: wrap;
}

/* .projects {
  padding-top: 5em;
} */

.multimedia {
  background-color: rgba(240, 248, 255, 0.064);
  border-radius: 25px;
  margin-left: 1em;
  margin-right: 1em;
}

.multimedia:hover {
  background-color: rgba(240, 248, 255, 0.129);
}

.multimedia h4 {
  font-size: 1.2em;
  line-height: 1;
  padding: 1em;
  justify-content: center;
  text-align: center;
}

.social {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  font-size: 1.5em;
  color: #eafc88;
  padding: 1em;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.064);
  border-radius: 25px;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

.contactInfo:hover {
  background-color: rgba(240, 248, 255, 0.129);
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
  }

  .blurb {
    width: 40vw;
  }

  .social {
    justify-content: center;
    gap: 1em;
    flex-direction: row;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1098px) {
  .exp {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .skills {
    width: 90vw;
    margin: 2em;
    height: 70vh;
  }

  .card {
    width: 90vw;
    margin: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }

  .blurb {
    width: 90vw;
    padding: 1em;
    margin-left: 1.5em;
  }

  .social {
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .blurb h4,
  .skills h4 {
    font-size: 1em;
  }

  .jobCard {
    width: 80vw;
    margin-right: 1em;
  }

  .exp {
    width: 90vw;
  }

  .icons {
    margin: 1em;
  }
}
