/* Your existing styles */

body {
}

.intro {
  height: 100vh;
}

.theTitle {
  text-align: center;
}

.title {
  margin-top: 2em;
}

.about,
.projects,
.multimedia {
  height: 90vh;
  margin-bottom: 1em;
}

.contact {
  margin-bottom: 1em;
}

@media only screen and (max-width: 1522px) {
  /* Adjust styles for screens up to 1522 pixels wide */
  .theTitle {
    margin-top: 3em;
  }

  .about,
  .projects,
  .multimedia {
    height: auto;
  }
}
