/* Your existing styles */

body {
  overflow-x: hidden;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.theTitle {
  text-align: center;
}

.title {
  margin-top: 1em;
}

.about,
.projects,
.multimedia,
.contact {
  height: 90vh;
  width: 100vw;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1522px) {
  /* Adjust styles for screens up to 1522 pixels wide */
  .theTitle {
    margin-top: 5em;
  }

  .about,
  .projects,
  .multimedia,
  .contact {
    height: auto;
  }
}
